<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate using Google</title>
</head>
<body>
    <a href="/auth/google">Authenticate with google</a>
</body>
</html>