<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="post" required>
        <label for="email">EMAIL</label><br>
        <input name="email" type="text" id="email" required placeholder="enter your email"><br>
        <label for="password">PASSWORD</label><br>
        <input name="password" type="password" id="passowrd" required placeholder="enter password"><br>
        <input value="submit" type="submit">
    </form>
    <a href="/signup">Sign up</a><br>
    <a href="/forgotpassword">Forgot Password</a><br>
    <a href="/auth/google">Login with Google</a>
</body>
</html>