<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPassword</title>
</head>
<body>
    <form action="/newpassword" method="post" required>
        <label for="email">Enter the received OTP</label><br>
        <input name="email" type="email" required placeholder="Email"><br>
        <label for="OTP">Enter the received OTP</label><br>
        <input name="OTP" type="text" required placeholder="OTP"><br>
        <label for="password">Enter new password</label><br>
        <input name="password" type="password" required placeholder="Password"><br>
        <label for="rpassword">Renter new Password</label><br>
        <input name="rpassword" type="password" required placeholder="Renter Password"><br>
        <input name="submit" type="submit">
    </form>
</body>
</html>