<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password</title>
</head>
<body>
    <h4>As you are signing in for the first time Create a password:</h4>
    <form action="/password" method="post" required>
        <label for="password">Enter new password</label><br>
        <input name="password" type="password" required placeholder="Password"><br>
        <label for="rpassword">Renter new Password</label><br>
        <input name="rpassword" type="password" required placeholder="Renter Password"><br>
        <input name="submit" type="submit">
    </form>
    
</body>
</html>