<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResendOTP</title>
</head>
<body>
    <form action="/resendOTP" method="post" required>
        <label for="email">Enter the email used to signup and to get OTP</label><br>
        <input name="email" type="email" required placeholder="Email"><br>
        <input name="submit" type="submit">
    </form>
</body>
</html>